.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: monospace;
}

.component-container {
  display: flex;
  justify-content: center;
}

.heading {
  background-color: black;
  color: #008489;
}

.player, .score, .addPlayerInpt {
  padding: 5px;
  font-size: 20px;
  background-color: black;
  color: #008489;
  outline: #008489;
  border-radius: 8px
}

input::-webkit-input-placeholder {
    font-size: 12px;
    color: #008489;
}

input:focus::-webkit-input-placeholder {
  color:#008489;
}

.score {
  width: 50px;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recentMatches {
  width: 600px;
}

.submitData {
  margin-bottom: 10px;
}

.toggleButton, .submitBtn, .addBtn {
  background-color: #008489;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.submitBtn {
  background-color: black;
}

.navBtn {
  background-color: white;
  border: 1px solid #008489;
  border-radius: 10px;
  color: #008489;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  margin: 5px;
}
.navBtn:active{
  background-color: #008489;
  color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
