.matchesContainer  {
  margin:5px;
  padding:10px;
  text-align:center;
  font-size: 20px;
  border-bottom:1px solid #eee;
}

.match {
  width: 500px;
  display:flex;
  text-align:center;
  overflow: hidden;
}

span.playerName {
  width:40%;
}

span.playerScore {
  width:20%;
}

.match div span:first-child {
  text-align: right;
}

.match div span:last-child {
  text-align: left;
}
